.container-buttons-menu-af{
    display:flex;
    width:100%;
}


.container-buttons-menu-af button {
    display:flex;
    flex-grow: 1;
    justify-content: center;
    border:1px black solid;
    border-right: 1px black solid;
    background-color: white;
    cursor: pointer;
}
.container-buttons-menu-af div {
    display:flex;
    flex-grow: 1;
    justify-content: center;
    border:1px black solid;
    border-right: 1px black solid;
    background-color: white;
    cursor: pointer;
}

.container-buttons-menu-af div label{
    display:flex;
    flex-grow: 1;
    justify-content: center;
    border: none;
    background-color: white;
    cursor: pointer;
}

.container-buttons-menu-af * {
    font-size: 1em;
}

.container-buttons-menu-af *:hover {
    background: whitesmoke;
}


.table{
    border: 1px solid black;
}
.headerTable {
    display: flex;
}
.cellTable {
    border: 1px solid black;
    width: 75px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}
.containerBody {
    display: flex;
}
.lineTable {
    display:flex;   
}
.headerLeftTable {
    display: flex;
    flex-direction: column;
}
input[type='file'] {
    display: none;
}
label {
    cursor:pointer;
    border: 1px black solid;
    background: #E0DCE4;
}