.table{
    border: 1px solid black;
}
.headerTable {
    display: flex;
}
.cellTable {
    border: 1px solid black;
    width: 60px;
    height: 25px;
    text-align: center;
}
.containerBody {
    display: flex;
}
.lineTable {
    display:flex;   
}
.headerLeftTable {
    display: flex;
    flex-direction: column;
}