.container-buttons-menu-af{
    display:flex;
}
.table{
    border: 1px solid black;
}
.headerTable {
    display: flex;
}
.cellTable {
    border: 1px solid black;
    width: 60px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}
.containerBody {
    display: flex;
}
.lineTable {
    display:flex;   
}
.headerLeftTable {
    display: flex;
    flex-direction: column;
}
input[type='file'] {
    display: none;
}
label {
    cursor:pointer;
    border: 1px black solid;
    background: #E0DCE4;
}