.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-buttons-menu{
    display:flex;
    flex-direction: row;
}
.container-buttons-menu button{
    width:33.3vw;
    border:none;
    outline: none;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    padding: 10px;
    cursor: pointer;
    background: #E0DCE4;
}
.container-buttons-menu button:hover{
    border-bottom: 1px #53BCAD solid;
}
.container-desenvolvimento {
    display:flex;
    justify-content: center
}

.emDesenvolvimento {
    padding:15px;
    border-radius:5px;
    border:none;
    outline: none;
    background: #2B77C0;
    color:white;
    font-size: 1em;
    font-weight: 500;
    cursor:pointer;
    position: absolute;
    bottom: -50px;
}
.emDesenvolvimento:hover{
    opacity: 0.9;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}