.container-gramatica {
    display:flex;
    flex-direction: column;
    margin-top: 10%;
    font-size: 1.3em;
    font-weight: bold;
    align-items: center;    
}
.sentenca {
    border: none;
    padding: 10px;
    cursor: pointer;
}
.sentenca-container {
    border: 1px solid black;
    display: flex;
    margin:1px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.sentenca-container:hover {
    background:whitesmoke;
}
.sentenca-container:hover input{
    background:whitesmoke;
}
.sentenca-container input {
    font-size: 1.3em;
}